# Bibliothèques pour la gestion des données
pandas==2.2.3
seaborn==0.13.2

# Gestion de base de données
mysqlclient==2.2.4
jupysql==0.10.14
pymongo==4.10.1

# API et Kafka
grpcio==1.59.0
kafka-python==2.0.2

# Spark - already installed in the base image
pyspark==3.5.3

# Stockage et HDFS
hdfs==2.7.3
minio==7.2.10

# Docker
docker==7.1.0

# API HTTP
requests==2.28.2

# Framework web (optionnel)
fastapi==0.95.0